<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="csvConnection"
		connectionString="Server=localhost;UID=user_123;Database=my_db;SSL Mode=Required;"/>
	</connectionStrings>
	<appSettings>
		<add key="InputFolderName" value="TestFiles"/>
		<add key="ErrorFolderName" value="ErrorFiles"/>
		<add key="CsvDelimeter" value=","/>
	</appSettings>
</configuration>